@import "./base/reset";
@import "./base/typo";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/main-index";
@import "./layout/main-nosotros";
@import "./layout/main-servicios";
@import "./layout/main-faq";
@import "./layout/main-contacto";
@import "./utilities/mixins";
@import "./utilities/variables";
@import "./layout/media-mobile";
@import "./layout/media-tablet";

body{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    background-image: url(../images/textures-roboti-zhuki-fon-tekstura-60231.jpeg);
    height:100%;
    color: white;
}