footer{
    @include prop-flex(row, column, center);
    padding:2em;
    #rrss{
        @include prop-flex(row, space-evenly, none);
        width:20em;
        svg{
            color:white;
        }
        svg:hover{
            color:lightgreen;
        }
    }
    .copyright{
        text-align: center;
        color: lightblue;
    }
}

footer{
    @include prop-flex(column, none, center);
    padding:2em;
}

#rrss{
    @include prop-flex(row, space-evenly, none);
    width:10em;
}

#rrss svg{
    color:white;
}

#rrss svg:hover{
    color:lightgreen;
}

.copyright{
    text-align: center;
    color: lightblue;
}