header {
    nav {
        @include prop-flex(row, none, none);
        ul {
            @include prop-flex(row, center, center);
            li {
                list-style-type: none;
                a{
                    margin:2em;
                    padding-right:2em;
                    text-decoration: none;
                }
                .a_header{
                    color: white;
                    @include prop-flex(row, center, none);
                }
                .a_header:hover{
                    color: lightgreen;
                }
            }
        }
        a {
            @include prop-flex(row, space-between, none); 
            img {
                padding:0.5em;
                padding-left: 6em;
                width:12em;
            }
        }
    }
}