.article_main{
    box-sizing: border-box;
    @include prop-flex(row, center, none);
    .contenedor_main{
        text-align:left;
        width:50%;
        padding-top:6em;
        padding-bottom:12em;
        .titulo1{
            font-size:64px;
            color: lightgoldenrodyellow;
        }
        .titulo2{
            font-size:64px;
            color: lightgoldenrodyellow;;
        }
        .parrafo1{
            color:lightgray;
        }
    }
}